.header{
  height: 110px;
  color: $color-title;
  background-color: $color-main;
  background-size: cover;
  margin-bottom: 40px;
  overflow-x: hidden;

  h1{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    line-height: 110px;
  }
}