$color-main: #2C3E50;
$color-title: #fff;

$color-border: rgb(206, 212, 218);
$color-search: rgb(123, 138, 139);
$color-button: rgb(214, 44, 26);

$color-preload: #fff;

$color-foo-text: #eee;

$color-slide-main: #fff;
$color-slide-text: #000;

$color-wait: wheat;