.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;

  &__left{
    display: flex;
    margin-left: 6vw;
    margin-right: 2rem;
  }

  &__right{
    display: flex;
    position: relative;
    margin-right: 6%;
    margin-left: 2rem;
  }
}

.search{
  width: 27.4rem;
  height: 4.4rem;
  color: $color-text;
  border: none;
  border-radius: .5rem 0 0 .5rem;
  padding: 1.3rem 1.5rem;
  background: $color-main;
}