span.switcher {
  position: relative;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0,0,0,.6);
  
  input {
     -webkit-appearance: none;
     position: relative;
     width: 150px;
     height: 40px;
     border-radius: 15px;
     font-size: 1.8em;
     font-weight: bold;
     cursor: pointer;
     background-color: $color-train;
     outline:none;
     border: 5px solid transparent;
     box-shadow: inset 0 0 5px rgba(0,0,0,.3);
     &:before, &:after {
        z-index: 2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $color-play;
     }
     &:before {
        content: 'PLAY';
        left: 20px;
     }
     &:after {
        content: 'TRAIN';
        right: 20px;
     }
  }
  label {
     z-index: 1;
     position: absolute;
     top: 10px;
     bottom: 10px;
     border-radius: 15px;
     border: 5px solid transparent;
     box-shadow: inset 0 0 5px rgba(0,0,0,.3);
  }
  &.switcher {
     overflow: hidden;
     input {
        transition: background-color 0s .5s;
        &:before {
           color: $color-play;
        }
        &:after {
           color: $color-train;
        }
        &:checked {
           background-color: $color-train;
           &+label {
              background: $color-train;
              animation: turn-on .5s ease-out;
              @keyframes turn-on {
                 0% {
                    left: 100%;
                 }
                 100% {
                    left: 0%;
                 }
              }
           }
        }
        &:not(:checked) {
           background: $color-play;
           &+label {
              background: $color-play;
              animation: turn-off .5s ease-out;
              @keyframes turn-off {
                 0% {
                    right: 100%;
                 }
                 100% {
                    right: 0%;
                 }
              }
           }
        }
     }
     label {
        top: 0px;
        width: 150px;
        height: 40px;
        border-radius: 15px;
     }
  }
}