.button{
  float: left;
  width: 100%;
  height: 3.5rem;
  border: none;
  border-radius: .5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
  color: $color-main-text;
  background-color: $color-button;
  margin-top: 2.3rem;
  cursor: pointer;
  &__start{
    font-size: 1.8rem;
    height: 4.5rem;
  }
  &__logout{
    width: 100px;
    margin-left: 1rem;
  }
}