$color-main: rgba(180,184,187,.7);
$color-text: #fff;

$color-button-unavailable: rgba(76,82,85,.7);
$color-unavailable-text: rgba(203, 205, 207, 0.7);

$color-gradient-one: rgba(8, 15, 26, 0.59);
$color-gradient-two: rgba(17, 17, 46, 0.46);