$color-main: rgba(180,184,187, .4);
$color-text: #fff;

$color-button-unavailable: rgba(76,82,85,.4);
$color-unavailable-text: rgba(203, 205, 207, .7);

$color-gradient-one: rgba(8, 15, 26, .5);
$color-gradient-two: rgba(17, 17, 46, .46);