$font-Roboto: 'Roboto';
$bold: 700;

$button-width: 4.4rem;
$button-height: 4.4rem;

$next-icon-size: 6rem;

$weather-icon-size: 30rem;

$arrow-size: 1.3rem;

$button-search-width: 10rem;

$voice-width: 3rem;
$voice-height: 4rem;